<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
    
    <!-- Setting Up Home Controller -->
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>com.ats.controllers.HomeController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    
    <!-- Setting Up Employees Controller -->
    <servlet>
        <servlet-name>EmployeesController</servlet-name>
        <servlet-class>com.ats.controllers.EmployeesController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EmployeesController</servlet-name>
        <url-pattern>/employees</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeesController</servlet-name>
        <url-pattern>/createEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeesController</servlet-name>
        <url-pattern>/deleteEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeesController</servlet-name>
        <url-pattern>/employeeSkills</url-pattern>
    </servlet-mapping>
    
    <!-- Setting Up Tasks Controller -->
    <servlet>
        <servlet-name>TasksController</servlet-name>
        <servlet-class>com.ats.controllers.TasksController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TasksController</servlet-name>
        <url-pattern>/tasks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TasksController</servlet-name>
        <url-pattern>/createTask</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TasksController</servlet-name>
        <url-pattern>/deleteTask</url-pattern>
    </servlet-mapping>

    <!-- Setting up Team controller-->
    <servlet>
        <servlet-name>TeamsController</servlet-name>
        <servlet-class>com.ats.controllers.TeamController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TeamsController</servlet-name>
        <url-pattern>/createTeam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeamsController</servlet-name>
        <url-pattern>/teams</url-pattern>
    </servlet-mapping>
    
    <!-- Setting up Jobs Controller -->
    <servlet>
        <servlet-name>JobsController</servlet-name>
        <servlet-class>com.ats.controllers.JobsController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>JobsController</servlet-name>
        <url-pattern>/createJob</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JobsController</servlet-name>
        <url-pattern>/jobs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JobsController</servlet-name>
        <url-pattern>/deleteJob</url-pattern>
    </servlet-mapping>
</web-app>
