/*
    Overriding Bootstrap Classes
*/
.btn-primary {
    background-color: #43DDE6;
    border: none;
    color: #364F6B;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background-color: #3dccd4 !important;
    color: #364F6B !important;
    box-shadow: none;
}

.btn-secondary {
    background-color: #364F6B;
    border: none;
    color: #F0F0F0;
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
    background-color: #446387;
    color: #F0F0F0;
    box-shadow: none;
}

.btn-danger {
    background-color: #FC5185;
    border: none;
    color: #F0F0F0;
}

.btn-danger:hover, .btn-danger:focus, .btn-danger:active {
    background-color: #d94874;
    color: #F0F0F0;
    box-shadow: none;
}

.btn-outline-primary {
    border-color: #43DDE6;
    color: #43DDE6;
}

.btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:not(:disabled):not(.disabled):active {
    background-color: #43DDE6;
    border-color: #43DDE6;
    color: #364F6B;
    box-shadow: none !important;
}

.form-control:focus {
    border-color: rgba(67, 221, 230, 0.8);
    box-shadow: 0 0 0 0.2rem rgba(67, 221, 230, .25);
}

.alert-danger {
    background-color: #FC5185;
    border-color: #f26893;
    color: #692338;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/com.ats.webapplication/assets/images/background.svg");
    background-attachment: fixed;
    height: 100vh;
    color: #F0F0F0;
}

nav img {
    width: 30%;
}

nav {
    background-color: #43DDE6;
}

nav .nav-link {
    font-size: 1.25em;
    font-weight: 500;
    color: #364F6B;
}

h1 {
    color: #F0F0F0;
    text-align: center;
    margin-bottom: 2.5%;
}

h2 {
    color: #364F6B;
    text-align: center;
}

#createEmployee form {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.editEmpSkills {
    display: flex;
    width: 100%;
    height: 60%;
}

.alert {
    width: 80%;
}

#createTask form {
    width: 80%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#createTeam form {
    width: 80%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#createJob form {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

label{
    color: #F0F0F0;
}

.form-control {
    font-size: 1.25em;
    font-weight: 500;
}

.submitButton {
    color: #364F6B !important;
    background-color: #43DDE6 !important;
    font-size: 1.25em !important;
    font-weight: 500 !important;
}

.submitButton:hover {
    background-color: #3fcad1 !important;
}

.employeeContainer {
    display: flex;
    flex-wrap: wrap;
    margin: 0 5%;
}

.employeeContainer h1 {
    color: #364F6B;
}

.employeeContainer a {
    transition: transform 200ms ease-in-out;
    width: 22.75%;
    height: 9em;
    margin-right: 3%;
}

.employeeContainer a:hover {
    transform: scale(1.025);
    cursor: pointer;
}

.employeeContainer a:nth-child(4n + 4) {
    margin-right: 0 !important;
    margin-bottom: 3%;
}

.employeeContainer a:last-child {
    margin-bottom: 3%;
}

.employeeContainer .card {
    height: 100%;
}

.employeeContainer .card .card-body {
    display: flex;
    align-items: center;
    justify-content: center;
}

#createEmployee h2 {
    text-align: center;
    margin-top: 1em;
}

.card h1, .card h3 {
    color: #364F6B;
}

.taskContainer {
    display: flex;
    flex-wrap: wrap;
    margin: 0 5%;
}
 
.teamContainer {
    display: flex;
    flex-wrap: wrap;
    margin: 0 5%;
}

.taskContainer a {
    width: 32%;
    height: 60vh;
    margin-right: 2%;
}

.teamContainer a {
    width: 32%;
    height: 30vh;
    margin-right: 2%;
}

.taskContainer a:nth-child(3n + 3), .teamContainer a:nth-child(3n + 3) {
    margin-right: 0 !important;
    margin-bottom: 1em;
}

.taskContainer a:last-child, .teamContainer a:last-child {
    margin-bottom: 1em;
}

.taskContainer .card, .teamContainer .card {
    transition: transform 200ms ease-in-out;
    border: none;
    height: 100%;
}

.taskContainer .card:hover, .teamContainer .card:hover {
    transform: scale(1.025);
    cursor: pointer;
}

.taskContainer .card .card-body, .teamContainer .card .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.taskContainer .card h3 {
    text-align: center;
}

.taskContainer .card h1 {
    margin-bottom: 5%;
}

.taskContainer .card .btn {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.modal, .modal h1 {
    color: #364F6B;
}

.modal .btn {
    font-size: 1.25em;
    font-weight: 500;
}

.modal .topContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5em;
}

.topContainer #idContainer {
    display: flex;
    justify-content: space-between;
    width: 15%;
}

#empIDContainer {
    display: flex;
    justify-content: space-between;
    width: 40%;
}   

#rateContainer {
    display: flex;
    justify-content: space-between;
    width: 40%;

}
.modal .title {
    font-weight: bold;
}


.topContainer #durationContainer {
    display: flex;
    justify-content: space-between;
    width: 40%;
}

.topContainer .dateContainer {
    display: flex;
    justify-content: space-between;
    width: 40%;
}

#createTask form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;  
}

#createTask form textarea {
    height: 30%;
}

.searchForm {
    display: flex;
    justify-content: space-between;
    margin: 0 5% 2% 5%;
}

.searchForm input[type=text], .searchForm input[type=date] {
    flex: 17;
    text-align: center;
}

.searchForm button {
    flex: 1;
    margin-left: 2%;
}

.topContainer #sinContainer {
    display: flex;
    justify-content: space-between;
    width: 40%;
}

.memberDropdown {
    text-align: center;
}

#viewJobs .table-responsive, #viewJobs form {
    width: 95%;
}

#viewJobs form {
    margin: 0 auto 2em auto;
    text-align: center;
}

.table {
    width: 250%;
}

.table-dark {
    background-color: #364F6B;
}

table.table-bordered {
    border: 1px solid #43DDE6 !important;
}

table.table-bordered > thead > tr > th{
    border: 1px solid #43DDE6 !important;
}

table.table-bordered > tbody > tr > td:not(.job) {
    border: 1px solid #43DDE6 !important;
}

.job {
    position: relative;
    background-color: #43DDE6;
    color: #364F6B;
    font-weight: 500;
    transition: transform 200ms ease-in-out, background-color 200ms ease-in-out;
}

.job:hover {
    cursor: pointer;
    transform: scale(1.025);
    background-color: #3dccd4;
}

.job+.job, .job+.job:hover {
    border-left: 1px solid #364F6B !important;
}

.job~.job, .job~.job:hover {
    border-right: 1px solid #364F6B !important;
}

.job a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#viewJobs #costContainer, #viewJobs #revenueContainer, #viewJobs #teamContainer {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#viewJobs #startTimeContainer, #viewJobs #endTimeContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}

#viewJobs #costContainer {
    margin-right: 10%;
}

#viewJobs #teamContainer {
    max-width: 30%;
}

#viewJobs .descriptionContainer {
    margin-bottom: 1.5em;
}

#viewJobs #taskContainer {
    margin-right: 20%;
}

.modal li {
    font-size: 1.75em;
    font-weight: 500;
}

.teamMemberContainer, #taskContainer {
    max-width: 40%;
    display: flex;
    flex-direction: column;
}

#isOnCallContainer {
    width: 25%;
    display: flex;
    justify-content: space-between;
}

.dateContainer {
    min-width: 65%;
    display: flex;
    justify-content: space-between;
}

.descriptionContainer #updatedAtContainer {
    margin-bottom: 1.5em;
}

@media only screen and (max-width: 992px) {
    .employeeContainer a {
        width: 100%;
        height: 9em;
        margin-right: 0% !important;
        margin-bottom: 1em;
    }

    .employeeContainer a:nth-child(4n + 4) {
        margin-right: 0 !important;
        margin-bottom: 1em;
    }

    .employeeContainer a:last-child {
        margin-bottom: 1em;
    }
}